@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

html, body {
  @apply bg-blackCustom text-goldCustom;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%); /* Adjust to stop midway for perfect looping */
  }
}

.skills-marquee {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.skills-content {
  display: inline-flex;
  gap: 2rem;
  animation: scroll-left 20s linear infinite;
  will-change: transform;
}

.skills-marquee:hover .skills-content {
  animation-play-state: paused;
}

.skill-card {
  flex: 0 0 auto;
  width: 150px;
  height: 150px;
  background-color: #333333; /* greyCustom */
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s;
}

.skill-image {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

